#browser:not(.fullscreen) #main {
    overflow: initial;
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    height: calc(100% - 64px);
}

#browser:not(.fullscreen) #titlebar {
    margin-top: -2px;
}

#browser:not(.fullscreen) #titlebar .window-buttongroup {
    z-index: 1;
}

#browser:not(.fullscreen) .toolbar.toolbar-addressbar.toolbar-mainbar {
    position: absolute;
    left: 0;
    right: 0;
    top: -64px;;
    display: flex;
    justify-content: center;
}

#browser:not(.fullscreen) .addressfield {
    max-width: 600px;
}

.theme-dark .addressfield, .theme-dark .searchfield {
    border: 1px solid rgba(0,0,0,0.6);
    background-color: rgba(0,0,0,0.6);
}

.extension-popup, .button-popup, .OmniDropdown {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 5px 25px rgba(0, 0, 0, 0.2);
}

.OmniDropdown {
    background: var(--colorBgAlpha);
    backdrop-filter: blur(10px);
}

#modal-bg {
    background-color: var(--colorBgAlpha);
    backdrop-filter: blur(10px);
}

/* Sets the background color to any non-selected 
 * element of the quick command menu to transparent */
 #modal-bg *:not([data-selected])
 {
     background-color: rgba(0,0,0,0)!important;
 }

#browser:not(.fullscreen) #tabs-container {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    padding: 0;
    
}

#browser:not(.fullscreen) .mac #tabs-container.top {
    padding-left: 0;
}

#browser:not(.fullscreen) .tab-position .tab .tab-header {
    border-bottom: 1px solid var(--colorBorder);
}

#browser:not(.fullscreen) .tab-group-indicator {
    top: 0;
    padding: 0;
}

#browser:not(.fullscreen) .tab-indicator {
    height: 2px;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid var(--colorAccentBg);
}

#browser:not(.fullscreen) .tab-indicator.active {
    height: 3px;
    border: 0;
    border-bottom: 2px solid var(--colorAccentBg);
}

#browser:not(.fullscreen).tabs-top .tab-position .tab {
    border-radius: 0;
}

#browser:not(.fullscreen) .tab-position .tab .tab-header {
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

#browser:not(.fullscreen) .color-behind-tabs-on .tab.active .tab-indicator.active {
    background-color: var(--colorAccentBgFadedMost);
}

#browser:not(.fullscreen) .color-behind-tabs-off .tab.active .tab-indicator.active {
    background-color: var(--colorAccentBgFadedMost);
}

.startpage {
    background-color: #f6f6f6 !important;
}

@media (prefers-color-scheme: dark) {
    .startpage {
        background-color: rgb(12, 16, 18) !important;
    }
}

.tab.active:not(.marked):not(.tab-mini):before,
.tab.active:not(.marked):not(.tab-mini):after,
.startpage .startpage-content .searchfield {
    display: none;
}

.startpage .startpage-navigation .startpage-navigation-group {
    border-left: 0;
}

.startpage .startpage-navigation .startpage-navigation-group .button-startpage:hover {
    background: rgba(0,0,0,0.3);
}

button.button-startpage:after {
    display: none;
}

.thumbnail-image {
    box-shadow: 0px 10px 50px -15px rgba(0,0,0,0.2) !important;
}

#switch {
    background-color: var(--colorBg);
}

.right#panels-container.overlay .panel-group {
    box-shadow: -20px 0 50px -14px rgb(0, 0, 0, 0.18);
}

.left#panels-container.overlay .panel-group {
    box-shadow: 20px 0 50px -14px rgb(0, 0, 0, 0.18);
}

#panels-container.left #switch {
    box-shadow: inset -8px 0 20px -8px var(--colorBorder);
}

#panels-container.right #switch {
    box-shadow: inset 8px 0 20px -8px var(--colorBorder);
}

#panels .webpanel-stack .webpanel .webpanel-header {
    order: 2;
}z

#panels .webpanel-stack .webpanel .webpanel-content {
    order: 1;
}

#panels h1.webpanel-title {
    font-size: 14px;
}

#switch button.webviewbtn img {
    padding: 1px;
}

.theme-dark #switch button.webviewbtn img {
    background-color: transparent;
}